{% extends 'base.html'%}
{% block title %}Приветсвую вас на проекте HASKER{% endblock %}

{% block leftbody %}
    <br>
    <div class="row">
      <div class="span4 offset6">
           <ul class="nav nav-pills">
              <li class="{{ order_date }}">
                <a href="{% url 'questions:index' %}?order=date">Новые вопросы</a>
              </li>
              <li class="{{ order_popular }}">
                  <a href="{% url 'questions:index' %}?order=popular">Популярные вопросы</a>
              </li>
          </ul>
      </div>
    </div>
    <table class="table">
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>
              <span class="label label-info">Количество голосов</span><br>
              <span class="badge badge-info">{{ item.count_votes }}</span>
          </td>
          <td>
              <span class="label label-info">Количество ответов</span><br>
              <span class="badge badge-info">{{ item.count_answers }}</span>
          </td>
          <td>
              <p><a href="{% url 'questions:questionview' item.id %}">{{ item.title }}</a></p>
              {% for tag in item.tags.all %}
                  <a href="?page={{ page_obj.number }}&tag={{ tag.name }}">
                      <span class="label label-inverse">{{ tag.name }}</span>
                  </a>
              {% endfor %}
          </td>
          <td>
              <p>{{ item.author.username }}</p>
              <p>Дата публикации: {{ item.create_date|date:"d.m.Y" }}</p>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a>&laquo;</a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><a>{{ i }}</a></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a>&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
