{% extends 'base.html'%}
{% block title %}Создание нового вопроса{% endblock %}

{% block leftbody %}
    <h2>{{ object.title }}</h2>
    <br>
    <div class="row-fluid">
        <div class="span1">
            <form action="{% url 'questions:questionvote' object.id %}">
                <button class="btn" type="submit" {{ disabled }}><i class="icon-chevron-up"></i></button>
            </form>
            <span class="badge badge-inverse">{{ number_question_votes }}</span>
            <form action="{% url 'questions:questionunvote' object.id %}">
                <button class="btn" type="submit" {{ disabled }}><i class="icon-chevron-down"></i></button>
            </form>
        </div>

        <div class="span11">
            <p>{{ object.body }}</p>
            {% for tag in object.tags.all %}
            <span class="label label-inverse">{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <table class="table">
          {% load getvalue %}
          <tbody>
          {% for value in object.answers_set.all %}
                <tr>
                     <td>
                         <form action="{% url 'questions:answervote' object.id value.id %}">
                             <button class="btn" type="submit" {{ disabled }}><i class="icon-chevron-up" ></i></button>
                         </form>
                         <span class="badge badge-success">{{ vote_answers|getvalue:value.id }}</span>
                         <form action="{% url 'questions:answerunvote' object.id value.id %}">
                             <button class="btn" type="submit" {{ disabled }}><i class="icon-chevron-down"></i></button>
                         </form>
                    </td>

                     <td>
                         <p><strong>{{ value.create_date|date:"SHORT_DATE_FORMAT" }}</strong></p>
                         <p>{{ value.body }}</p>
                         <p><strong>{{ value.author.username }}</strong></p>
                     </td>

                </tr>
          {%  endfor %}
          </tbody>
    </table>
    {% if user.is_authenticated %}
    <br><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn" type="submit" value="Отправить">
    </form>
    {% endif %}

{% endblock %}