{% extends 'base.html'%}
{% block title %}Приветсвую вас на проекте HASKER{% endblock %}

{% block leftbody %}
    {% if form.errors %}
        <p>Указанная пара логин и пароль не найдена. Попробуйте еще раз</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>У вас нет доступа к этой странице</p>
        {% else %}
        <p>Пожалуйста авторизуйтесь, чтобы получить доступ к этой старанице</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'registration:login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

    <input type="submit" value="Войти" class="btn controls">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}
